beautifulsoup4==4.4.1
boto==2.40.0
dj-database-url==0.4.1
dj-static==0.0.6
Django==1.9.7
django-admin-bootstrapped==2.5.7
django-appconf==1.0.2
django-blog-zinnia==0.16
django-bootstrap3==7.0.1
django-boto==0.3.9
django-ckeditor==5.0.3
django-contrib-comments==1.7.1
django-crispy-forms==1.6.0
django-imagekit==3.3
django-menus==1.1.2
django-mptt==0.8.4
django-storages==1.4.1
django-tagging==0.4.3
django-tinymce==2.3.0
django-toolbelt==0.0.1
django-xmlrpc==0.1.5
gunicorn==19.6.0
mots-vides==2015.5.11
pilkit==1.1.13
Pillow==3.2.0
psycopg2==2.6.1
pyparsing==2.1.4
python-dateutil==2.5.3
python-postmark==0.4.9
pytz==2016.4
regex==2016.5.23
six==1.10.0
static3==0.7.0
