{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

 {# {% crispy form %} #}

<!--
<h2>Contact</h2>
<form role="form" action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" value="Save">Submit</button>
</form>
-->
    <section id="contact-page">
        <div class="container">
            <div class="center">        
                <h2>Drop Your Message</h2>
                <p class="lead">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div> 
            <div class="row contact-wrap"> 
                <div class="status alert alert-success" style="display: none"></div>
                <form role="form" id="main-contact-form" class="contact-form" name="contact-form" method="POST" action="">
					{% crispy form  %} 
                </form> 
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#contact-page-->


{% endblock %}

